.azul{

    background-color: rgb(70, 70, 170);
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    
}


.row{

    margin-top: 20px;
}

.red{

    background-color: rgb(216, 97, 97);
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    
    
}