.container{

    background-color: #373737ff;
    color: #c7a969ff;
    font-family: 'Trebuchet MS';
}

i{

    font-size: 50px;
    margin-left: 7px;
    vertical-align: middle;

    
}

.feito{

    text-decoration: line-through;
}

.form input{

    border: none;
    background-color:  #373737ff;
    border-bottom: 1px solid #c7a969ff;   
    outline: none;
    font-size: 18px;
    color: #c7a969ff;
    width: 30%;    
}





ul li{

    text-decoration: none;
    list-style: none;
    margin: 5px;
}

::placeholder{

    color: #c7a969ff;
}

.send {

    font-size: 20px;
    color: #c7a969ff;
    cursor: pointer;
}

.unchecked {

    font-size: 20px;
    color: #c7a969ff;
    cursor: pointer;


}

.checked{

    font-size: 20px;
    color: #c7a969ff;
    cursor: pointer;
    color: rgb(91, 139, 19);

}