<h1 class="text-danger text-center m-5">Contador</h1>


<div class="container bg-light rounded">

    <div class="row">
        <div class="col-12">

            <div class="display rounded p-2 bg-info m-5">

                <h2 class="text-center ">{{resultado}}</h2>

            </div>
            <div class="controles">
                <div class="row m-5">
                    <div class="col">

                        <button class="btn btn-danger" (click)="menos()">-</button>

                    </div>
                    <div class="col">
                        <button class="btn btn-success" (click)="mais()">+</button>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>