<div class="flex justify-center flex-col">


    <div [ngSwitch]="x" class="div">

        <p *ngSwitchCase="1" class="red">Tag 1</p>
        <p *ngSwitchCase="2" class="red">Tag 2</p>
        <p *ngSwitchCase="3" class="red">Tag 3</p>
        <p *ngSwitchCase="4" class="red">Tag 4</p>

        <p *ngSwitchDefault class="red">Conteúdo padrão a ser mostrado se nenhuma condição for atendida.</p>


    </div>

    <h1 class="title">{{x}}</h1>

    <div class="flex">
        <button (click)="menos()">-</button>
        <button (click)="mais()">+</button>

    </div>




</div>