/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
*{

    padding: 0;
    margin: 0;
}

html, body { height: 100%;  color: white;}
body { margin: 0; font-family: sans-serif; background-color: #222;}


.center{

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.title{

    color: rgb(167, 59, 59);
}

.red{

    color: rgb(167, 59, 59);
}

.blue{

    color: blue;
}

.flex{

    display: flex;
       

}

.flex-row{

    flex-direction: row;
}

.justify-center{

    justify-content: center;
}

.item-center{

    align-items: center;
}

.flex-col {

    flex-direction: column;
}


.justify-contend{

    justify-content: center;
}

.flex-wrap{

    flex-wrap: wrap;
}

.m-20{

    margin: 20px;
}